@font-face {
    font-family: 'Grandis-rg';
    src: url('/fonts/GrandisExtended-Regular.woff2') format('woff2'),
         url('/fonts/GrandisExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Grandis-lg';
    src: url('/fonts/GrandisExtended-Black.woff2') format('woff2'),
         url('/fonts/GrandisExtended-Black.woff') format('woff');
    font-weight:900;
    font-style: normal;
}
@font-face {
    font-family: 'Grandis-md';
    src: url('/fonts/GrandisExtended-Medium.woff2') format('woff2'),
         url('/fonts/GrandisExtended-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: 'Grandis-Bold';
    src: url('/fonts/GrandisExtended-Bold.woff2') format('woff2'),
         url('/fonts/GrandisExtended-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}